# browserlist 为你中意的浏览器写代码，它是一个前端项目配置工具，
# 旨在对前端工具之间共享目标浏览器环境的信息
# 支持市场份额大于 1% 的浏览器
> 1%
# CanUse.com兼容追踪IE最新版本为11 向后兼容俩个版本10、11
last 2 versions
# 最新的两个版本中发现其市场份额不低于 0.5% 并且 24 个月内有任务官方支持和更新了。
not dead
# 排除ie11
not ie 11
